*{
    box-sizing: border-box;
    font-family: 'Langar', cursive, sans-serif;
}
.boxes{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.login-form {
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
    background: #333744;
}

.login-form__box h1{
    color: black;
    margin-top:0 ;
    margin-bottom: 0.5rem;
}

.login-form button {
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: chocolate;
    padding: 1.6rem;
    display: block;
    border: none;
}

 .login-form button:hover{
     text-decoration: none;
     color: cornsilk;
     background-color: chocolate;
  }

.login-form input {
    margin-top: 6px;
    margin-bottom: 16px;
    width: 100%;
}
.join-form {
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
    background: #333744;
}

.join-form__box h1{
    color: black;
    margin-top:0 ;
    margin-bottom: 0.5rem;
}

.join-form button {
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: chocolate;
    padding: 1.6rem;
    display: block;
    border: none;
}

 .join-form button:hover{
     text-decoration: none;
     color: cornsilk;
     background-color: chocolate;
  }

.join-form input {
    margin-top: 6px;
    margin-bottom: 16px;
    width: 100%;
}
.lobby {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 47% 48%;
    grid-template-areas:
    "players leaders"
    "players chat";
    gap: 3px;
}

.chat__sidebar {
    grid-area: players;
    height: 100vh;
    color: white;
    background: #333744;
    box-shadow: 0px 0px 12px 1px #1D1F26;
    width: 100%;
    overflow-y: auto
}

/* Chat styles */

.chat__conversation {
    grid-area: chat;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 19rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 1.5rem;
    box-shadow: 0px 0px 12px 1px #333744;
    /* border: 1px solid black; */
}

.chat__messages {
    border-bottom: 1px solid grey;
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: auto;
}

/* Message Styles */
.chat__leaderboard{
    grid-area: leaders;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    background-color: chocolate;
    box-shadow: 0px 0px 12px 1px brown;
    color: white;
    display: grid;
    grid-template-rows: 20% 65% 15%;
}
.chat__leaderboard h2{
    text-align: center;
    margin: 0.5rem auto;
    padding-right: 3rem;
    color: #2c2f3a;
}
.chat__leaderboard .myScore{
    text-align: center;
    width: 50%;
    margin:0 auto;
    /* border-top: 1px solid black; */
    color: #2c2f3a;
    padding-right: 3rem;
}
.leaders-container{
    color: white;
    height: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.leaders-container ol{
    height: 100%;
    margin-top: -0.7rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.leaders-container li{
    display: grid;
    grid-template-columns: 10% 60% 30%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}
.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message__nameInGame {
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
}

.message__metaInGame {
    color: #777;
    font-size: 13px;
}

.message p {
    margin: 0;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    padding: 20px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid rgb(189, 185, 185);
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    color: white;
    width: 5rem;
    border: none;
    font-size: 14px;
    background-color: brown;
    cursor: pointer;
}
/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 4px;
    padding: 12px 24px 5px 24px;
    width: 70%;
    border-bottom: 2px solid #2c2f3a;
    color: white;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.users li{
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    margin-bottom: 1rem;
}
/* .available-icon{
    border: 1px solid green;
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
} */

.available-username{
    margin-left: 0;
}
.available-usernameTitle{
    color: brown;
    font-size: 1.2rem;
    font-weight: bold;
}
.available-user-pointsTitle{
    color: brown;
    font-size: 1.2rem;
    font-weight: bold;
}

.users form{
    margin-left: 2rem;
    display: inline-block;
}
/* -------------------------------------- */
img{
    opacity: 0.2;
    margin: 0 auto;
    height: 95vh;
    width: 95vw;
    z-index: -1;
    position: fixed;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 50%;
    border: 2px solid black;
}
.welcome .headline{
    flex-basis: 20%;
    margin: 1rem auto;
    text-align: center;
    color: brown;
}
.welcome .headline span{
    font-size: larger;
}
.welcome .expend-knowledge{
    flex-basis: 50%;
    width: 80%;
    margin: 0 auto 0;
    color:chocolate;
    font-size: larger;
}
.welcome .expend-knowledge h3{
    margin: 2rem auto;
    width: fit-content;
    justify-self: center;
    color: chocolate;
}
.welcome #play-button{
    flex-basis: 30%;
    color: chocolate;
    background-color: cornsilk;
    border: 1px solid black;
    margin: 2rem auto;
    padding: 0;
    font-size: 2.5rem;
}
.welcome #play-button:hover{
    flex-basis: 30%;
    color: cornsilk;
    background-color: chocolate;
    cursor: pointer;
}
.welcome #play-button a{
   text-decoration: none;
   color: black;
   padding: 2rem;
   display: block;
   width: auto;
}
.welcome #play-button a:hover{
    text-decoration: none;
    color: cornsilk;
    background-color: chocolate;
 }
 /* ---------------welcome page-------------------- */
 .firstHeadline{
    text-align: center;
    margin: 0 auto;
    color: black;
 }
 .secondHeadline{
    text-align: center;
    margin: 0 auto;
    color: chocolate;
    }
.thirdHeadline{
    text-align: center;
    margin: 0 auto;
    color: firebrick;
}
/* ---------------headline---------------- */
.white-turn{
    width: 247px;
    line-height: 11;
    color: black;
    font-size: 50px;
}
.black-turn{
    width: 247px;
    line-height: 11;
    color: black;
    font-size: 50px;
}
.none{
    display: none;
}
.cell{
    width: calc(33rem/8);
    height: calc(33rem/8);
}
.cell:hover{
    opacity: 0.8;
}
.black{
    background-color: grey;
}
.white{
    background-color: blanchedalmond;
}
#board{
    margin: 1rem;
    margin-top: 0.5rem;
    height: 33rem ;
    width: 33rem;
    outline: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* -----------board--------------- */

.white-piece{
    border: 2px solid firebrick;
    border-radius: 50%;
    background-color: blanchedalmond;
    width: 80%;
    height: 80%;
    margin: 10% auto;
    cursor: pointer;
    outline: none;
}
.black-piece{
    border: 2px solid rgb(54, 53, 56);
    border-radius: 50%;
    background-color: black;
    width: 80%;
    height: 80%;
    margin: 10% auto;
    cursor: pointer;
    outline: none;
}
.king{
    border: 3px solid rgb(255, 217, 0);
}
.empty{
    background-color: grey;
}
/*------------pieces-------------- */
.cell__possible-cell{
    border:3px solid green ;
    cursor: pointer;
}
.focusInvalid{
    border: 3px solid red;
}
.focusValid{
    border: 3px solid green;
}
/*----------end game declarions------*/
.win, .draw{
    font-size: 4rem;
    margin: 45% auto;
    width: 50%;
    text-align: center;
    color: brown;
    padding: 1rem;

}
/* ========================== */
.none{
    display: none;
  }
  .block{
    display: block;
  }
  
  .modal {
    position: fixed; 
    z-index: 1;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modalCart{
    background-color: #fefefe;
    margin: auto;
    margin-top: 5rem;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
  }
  .announ{
    text-align: center;
    height: fit-content;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .continueBut{
    margin: 0.5rem auto;
    margin-left: 1.1rem;
    background-color: chocolate;
    color:white;
    font-size: 1rem;
    padding: 0.5rem;
    border:none;
    border-radius: 10%;
    transition: background .3s;
    cursor: pointer;
  }
  .checkAndProBut{
    padding: 0.5rem;
    margin-top: 0.3rem;
    font-size: inherit;
  }
  .forfeitButtons{
    margin: 0.5rem auto;
    margin-left: 18%;
    background-color: chocolate;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    width: 5rem;
    border: none;
    border-radius: 10%;
    transition: background .3s;
    cursor: pointer;
  }
  .announLobby{
    text-align: center;
    height: fit-content;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  .continueButLobby{
    margin: 0.5rem auto;
    margin-left: 1.1rem;
    background-color: chocolate;
    color:white;
    font-size: 1rem;
    padding: 0.5rem;
    border:none;
    border-radius: 10%;
    transition: background .3s;
    cursor: pointer;
  }
  .checkAndProButLobby{
    padding: 0.5rem;
    margin-top: 0.3rem;
    font-size: inherit;
  }
  .modaldata{
      flex-basis: 50%;
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .button{
    margin-top: 1rem;
    margin-left: 20%;
    background-color: chocolate;
    color:white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border:none;
    border-radius: 10%;
    transition: background .3s;
    cursor: pointer;
}
.button:hover{
    background-color: brown;
}
.gameBody{
    margin: 0;
}
.gamePage{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    "chatInMatch game"
    "optionsInMatch game";
    row-gap: 0.5rem;
    margin-top: 0.5rem;
}
.gameArea{
    grid-area: game;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.chatDuringMatch{
    grid-area: chatInMatch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 28rem;
    width: 100%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    border: 1px solid grey;
}
.optionsDuringMatch{
    text-align: center;
    grid-area: optionsInMatch;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.optionsDuringMatch button{
    width: 80%;
    height: 65%;
    color: brown;
    background-color: black;
    cursor: pointer;
    font-size: 2rem;
    margin: 0.5rem auto;
    border: none;
}